// Bottom Footer
footer {
  .flex-container {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem 10rem;
    // color: #fff;

    .flex-box {
      // border: solid 1px black;
      padding: 1em;
      color: $primary-font-color;

      &.box-1,
      &.box-2,
      &.box-3 {
        flex: 1;

        h3 {
          display: inline-block;
          color: $primary-font-color;
          font-weight: 400;
          letter-spacing: 0.1rem;
        }
      }
    }
  }

  &.bg-green {
    padding: 0;
  }
}
